aside.widgets div.widget {
  background: #fff;
  margin-top: 10px;
  padding: 15px;
  width: 290px;
}

aside.widgets div.widget .title {
  display: flex;
  align-items: baseline;
}

aside.widgets div.widget .title strong {
  font-size: 18px;
  color: #1f2226;
  
}

aside.widgets div.widget .title a {
  font-size: 12px;
  color: #3bb9c3;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

aside.widgets div.widget .title a::before{
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  margin: 0 5px;

  position: absolute;
  left: 1px;
  top: 6px;
}

aside.widgets div.follow ul {
  list-style: none;
  margin-top: 10px;
}

aside.widgets div.follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6dd;
  margin-bottom: 10px;
  padding-bottom: 10px ;
}

aside.widgets div.follow ul li:last-child{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

aside.widgets div.follow ul li > a {
  text-decoration: none;
  color: #9a9a9a;
  font-size: 13px;
}

aside.widgets div.follow ul li div.profile {
  display: flex;

  align-items: center;
}

aside.widgets div.follow ul li div.profile img {
  width: 48px;
  border-radius: 50%;

  margin-right: 10px;
}

aside.widgets div.follow ul li div.profile .info {
  display: flex;
  flex-direction: column;
}

aside.widgets div.follow ul li div.profile .info strong {
  font-size: 14px;
  color: #1f2326;
}

aside.widgets div.follow ul li div.profile .info strong span {
  font-weight: normal;
  color: #9a9a9a;
}

aside.widgets div.follow ul li div.profile .info button {
  width: 90px;
  height: 27px;
  color: rgb(29, 161, 242);
  background: white; 
  border: 0.5px solid rgb(29, 161, 242);
  border-radius: 16px;

  font-weight: bold;
  margin-top: 4px;

}

aside.widgets div.trends ul {
  list-style: none;
  margin-top: 10px;
}

aside.widgets div.trends ul li {
  cursor: pointer;

  color: rgb(29, 161, 242);

  margin-bottom: 10px;
}

aside.widgets div.trends ul li:last-child{
  margin-bottom: 0;
}

aside.widgets div.trends ul li::before {
  content: '#';

}
